html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index:9000;
}

.statsContainer{
  display:block;
}

#gameplay-container{
  height: 100%;
  overflow: hidden;
}

.statsContainer div[style]{
  position: relative !important;
}
